<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categories</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-category-item 
      *ngFor="let category of categories" 
      [category]="category">
    </app-category-item>
    
    <ion-item *ngIf="categories.length === 0">
      <ion-label class="ion-text-center">
        No categories found. Add a new category to get started!
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/categories/add">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>